/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
* {
    margin: 0%;
}

/* CONTAINER */
body {
    /* background-color: rgb(255,255,255); */
    font-family: oxygen;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    align-items: end;
    padding: 30px 34px 15px 34px;
    /* margin: 10px 20px; */
    margin-bottom: 40px;


}


.brand {
    display: flex;
    align-items: end;
}
.brand h1 {
    background-image: linear-gradient(45deg, #ca65f3, #2D87EF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}
.brand img {
    margin-right: 4px;
}


.search_box {
    padding-bottom: 6px;
    position: relative;
    right: 16px;
}
.search_box i {
    position: relative;
    left: 36px;
    color: #B8BDC3;
}
.search_box input {
    padding: 10px 10px 10px 41px;
    width: 250px;
    font-size: 1rem;
    border-radius: 26px;
    border-style: none;
    box-shadow: 3px 3px 15px 1px #ececf9be,
                -3px -3px 15px 1px #ececf9c3;
}

.search_box input::placeholder {
    color: #BABFC4;
}


.header_right img {
    width: 60px;
    border-radius: 20px;
}
.header_right  i {
    position: relative;
    bottom: 27px;
    margin-left: 5px;
    color: #2D87EF;
}


/* MAIN */

/* section heading */
.section_heading {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    /* margin: 0px 20px; */
    padding: 0px 59px;
    margin-bottom: 46px;
}

.section_heading h2 {
    align-self: center;
    font-size: 1.7rem;
   
}
.section_heading h2 i {
    background-image: linear-gradient(45deg, #ca65f3, #2D87EF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-end;
    position: relative;
    top: 1px;
}


.section_heading button {
    background-image: linear-gradient(to right, #ca65f3, #2D87EF);
    color: white;
    border-style: none;
    border-radius: 9px;
    padding: 12px 15px;
    font-size: 1rem;
    font-weight: 500;

/* 
    background-image: linear-gradient(45deg, #ca65f3, #2D87EF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent */
}

.section_heading i {
    
    margin-right: 3px;
}


/* section grid */
.section_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 418px);
    gap: 34px;
    /* padding: 27px; */
    margin: 59px;
    margin-top: 30px;
    /* border: 2px solid red; */
}

.section_item {
    display: grid;
    grid-template-columns: 117px 250px auto;
    /* border: 2px solid blue; */
    grid-template-rows: 120px auto;

    border-radius: 15px;
    box-shadow: 6px 6px 100px 3px #adb9e18d, -6px -6px 100px 3px #adb8dc8d;

}

.book_description {
    margin-top: 10px;
    margin-left: 20px;
    line-height: 1.7;
}
.book_description h3 {
    font-size: 1.2rem;
}
.book_description p {
    color: #717C89;
    font-size: 0.8rem;
}
.book_description .author_name {
    font-size: 1rem;
}



.section_item img {
    width: 100px;
    position: relative;
    bottom: 14px;
    left: 17px;
    border-radius: 5px;
    box-shadow: 17px 10px 30px -5px rgb(142, 134, 167);
}

.section_item button {
    font-size: 1.1rem;
    align-self: start;
    margin-top: 15px;
    /* margin-right: 0px; */
    color: #a568e6dd;
    border-style: none;
    background-color: white;
}


.section_item select{
    width: 124px;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    justify-self: end;
    margin-right: 17px;
    /* margin-bottom: 15px; */
    font-size: 0.9rem;
    border-radius: 16px;
    padding: 5px 7px;

    border: double 2.3px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ca65f3, #2D87EF);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    color: #8D75F1;
    /* border-right: 20px solid transparent white; */

    position: relative;
    bottom: 15px;
}


/* MODAL */
.modal_overlay {
/*    
    width: 100%;
    height: 100vh;
    background-color: black; */
    display: none; 

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: hsla(213, 16%, 35%, 0.733);

  
}

#add_book_form {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: 1px;
    /* margin: auto; */
    padding: 40px 50px;
    background-color: white;
    width: 350px;
    border-radius: 20px;

    
    
}
#add_book_form h2 {
    margin-bottom: 20px;
    text-align: center;
    background-image: linear-gradient(45deg, #ca65f3, #2D87EF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#add_book_form label {
    /* position: relative;
    top: 40px; */
    font-weight: bold;
    font-size: large;
    margin-bottom: 5px;
}

#add_book_form input {
    padding: 10px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    box-shadow: 3px 3px 15px 1px #d0d0fee1, -3px -3px 15px 1px #d0d0fee1;
    border: none;
    border-radius: 5px;
}

#book_status {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 15px 1px #d0d0fee1, -3px -3px 15px 1px #d0d0fee1;
    border: none;
    border-radius: 5px;


}

#add_book_form img {
    margin-bottom: 15px;
    width: 80px;
    border-radius: 5px;
}

/* #title {
    background: url(https://mlksathil.github.io/library/assets/web/svg-icons/title.svg) no-repeat;

    background-size: 25px 25px;
    background-position: left center;
    font-size: 1.3rem;
   
    opacity: 2;
} */

#add_book_form #image_url {
    margin-bottom: 40px;
}

#add_book_form #image_url::placeholder {
    color: #BABFC4;
}


#add_book_form button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    background-image: linear-gradient(to right, #ca65f3, #2D87EF);
    border: none;
    border-radius: 6px;
    color: white;


}





